*{
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
    width: auto;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body{
    margin: 0;
    font-size: 1.6em;
    font-family: "Open Sans", sans-serif;
}
   /* header */
  
  .header{
    display: flex;
    justify-content: space-between;
    height: 20%;
    padding: 10px;
    width: 100%;
    box-shadow: 4px 4px 30px 0px #999;
    background-color: #FFEDEC;
    z-index: 3;
    padding-bottom: 1%;
  }
  
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  header li a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }
  
  header li a:hover, header .menu-btn:hover {
      border-bottom: 2px solid #D9072B; 
  }
  
  header .logo {
    display: block;
    float: left;
    font-size: 30px;
    padding: 12px 20px;
    text-decoration: none;
  }
  .logo{
    display: block;
    float: left;
    padding: 12px 20px;
    width: 30%;
    height: 5%;
    text-decoration: none;
    margin-left: 3%;
}
.logo1{
    font-family: 'Lobster', sans-serif;
    color: #D9072B;
    font-size: 1.3em;
    padding: 0;
    text-decoration: none;
}
.logo2{
    font-family: 'Balsamiq Sans', serif;
    font-size: 0.9em;
    color: black;
    padding: 0;
    }
.logotxt{
    font-size: 0.7em;
    margin-top: -0.3em;
}
  /* menu */
  
  header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  header .menu-icon .navicon:before,
  header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  header .menu-icon .navicon:before {
    top: 5px;
  }
  
  header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  header .menu-btn {
    display: none;
  }
  
  header .menu-btn:checked ~ .menu {
    max-height: 540px;
  }
  
  header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

#okno2 {
        width: 40%;
        height: 70%;
        text-align: center;
        padding: 15px;
        box-shadow: 7px 7px 40px 0px #00000040;
        border-radius: 10px;
        color: black;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color:#FFF3EC;
      }
      #okno2:target {display: block;}
      .close {
        display: inline-block;
        background: #DD2040;
        border-radius: 7px;
        color: white;
        padding: 12px 12px;
        margin: 10px;
        text-decoration: none;
        font-size: 14pt;
        cursor:pointer;
      }
       .close:hover {
        border: 3px solid #82091D;
        opacity: 95%;
          
      }
/* Стили футера */
footer{
    background-color: #DD2040;
    height: 20%;
}
.foot{
   width: 88%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   color:white;
   margin-top: 2%;
   align-items: center;
   
}
.foot > p{
    font-size:0.9em;
}
.foot > img{
    margin: 1% 0;
}
    /*стили первого блока  */
.main{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;
}
.main h1{
    font-size: 2.8em;
}
.main p{
    font-size: 1.7em;
    margin-bottom: 2%;
}
.main-txt{
    flex-direction: column;
    justify-content: space-around;
}
.main-but{
    width: 50%;
    font-size: 2.8vh;
    padding: 2%;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #D9072B;
    cursor: pointer;
    
}
.main-but:hover{
    border: 2px solid #82091D;
    opacity: 95%;
}
.main-cat{
white-space: pre-line;
margin: 0 1em;
width: 50%;
}
.main-cat h1{
  font-weight: bold;
  font-size: 3em;
}
.catd{
    margin: 2em 2em 1em 0;
}
 /*стили 2 и 3 блока  */
.h2in{
    margin: 2em 5em;
}
.inf-tbl{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.inf img{
    margin: 0.5em;
}
.inf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: auto;
    align-self: center;
}
.inf p{
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
}
.obr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    align-content: center;
}
.obr > p{
    white-space: pre-line;
    margin: 5% 0;
    font-size: 2vh;
}
.vst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.vst > p{
    white-space: pre-line;
    margin-right: 10%;
    font-size: 2.2vh;
}
.req{
  background-color: #FFF3EC;
  box-shadow: 4px 4px 15px 0px #0000004D;
  padding: 5% 7%;
  border-radius: 7px;
}
/* Стили о породах */
.pudel, .PTI, .aboutdogs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin: auto;
 }
 .pudel h1, .PTI h1, .aboutdogs h1{
     font-size: 5vh;
     text-align: left;
     margin: 3vh 0;
 }
 .pudel h2, .PTI h2{
    font-size: 3vh;
    text-align: left;
    margin: 3vh 0;
}
 .pudel p, .PTI p, .aboutdogs p{
     font-size: 2vh;
     margin-bottom: 2%;
     white-space: pre-line;
     padding-left: 3vh;
 }
 .aboutdogs p{
     margin-bottom: 5%;
     text-align: center;
 }
 .ptiPh{
     align-self: center;
     justify-content: space-between;
     margin: 2vh;
 }
/* слайдер */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    
  }
  .mySlides {
      display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    background-color: #DD2040;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dots{
      margin-left: 32em;
      margin-top: -1em;;
  }
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    border:1px solid #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* обзор */
main{
    margin-top: 3em;
}
.names{
    width: 60%;
    margin: auto;
    margin-top: 2em;
}
.names p{
    font-size: 20px;
    margin: 2em 0;
}
.names > .tel{
    font-size: 15px;
}
.names > h2 > img{
margin-left: 10px;
}
/* контакты */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
.contact > a:hover{
opacity: 80%;
}
.bodycontact{
    margin-bottom: 5%;
}
.contact p{
    margin: 1em;
}
.conth1{
    margin: 1em 5em;
    font-weight: bold;
}
.call{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}
.call p{
    font-size: 20px;
}
.call span{
    color: #DD2040;
}
.call button{
    width: 30em;
    height: 5em;
    background: #DD2040;
    color: white;
    border-radius: 7px;
    border: 1px solid white;
}
.call button a{
    color:white;
    font-size: 1.4em;
}
.call button:hover{
    border: 3px solid #82091D;
    opacity: 95%;
}
 #okno {
        width: 40%;
        height: 70%;
        text-align: center;
        padding: 15px;
        box-shadow: 7px 7px 40px 0px #00000040;
        border-radius: 10px;
        color: black;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color:#FFF3EC;
      }
      #okno:target {display: block;}
      .close {
        display: inline-block;
        background: #DD2040;
        border-radius: 7px;
        color: white;
        padding: 12px 12px;
        margin: 10px;
        text-decoration: none;
        font-size: 14pt;
        cursor:pointer;
      }
      .close:hover {
        border: 3px solid #82091D;
        opacity: 95%;
          
      }
.em{
    margin-left: 12em;
    font-size: 20px;
}
.em a{
    color:#DD2040;
}
.em a:hover{
    text-decoration: underline;
}

.name, .cont{
    display: flex;
    flex-direction: column;
    margin: 3em;
}
/* Новости */
.bodynews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.news{
    display: flex;
    width: 60%;
    height: auto;
    background-color: #fff6ec;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
    border-radius: 1%;
    margin: 2em;
}
.news img{
    margin: 2em;
    width: auto;
    height: 70%;
    border-radius: 1%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}
.newstxt{
    margin: 4vh;
    width: 50%;
    align-self: center;
}
.newstxt p{
    font-size: 2.5vh;
    padding: 4vh 0;
}
.newstxt > .date{
    font-size: 1.8vh;
    text-align: right;
}
/* каталог */
.catalog
{
    text-align: center;
    width: 85%;
    margin: auto;
}
.dog
{
text-decoration: none;
display: inline-block;
vertical-align: top;
width: 30%;
margin: 3em 0 0 0;
}

.dog .r
{
text-align: center;
color: black;
}
.r a,  .r a:active{
    color: black;
}
.r a:hover{
    color: #DD2040;
}
.save{
  color: #DD2040;
}
.save:hover{
  text-decoration: underline;
}
/* Адаптивность */
@media only screen and (min-width: 768px) {
 
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .logo1{
    font-size: 1.1em;
  }
.logo2{
  font-size: 1em;
}
.logotxt{
  font-size: 0.4em;
}
}
@media only screen and (max-width: 375px){
  .logo1{
    font-size: 30px;
  }
  .logotxt{
    font-size: 15px;
  }
  .logo{
    text-align: center;
    width: 100%;
  }
  .header {
   flex-direction: column;
  }
  .main{
    flex-direction: column;
  }
  .md{
    display: none;
  }
  .main-txt{
    padding: 5px;
    text-align: justify;
  }
  .main-txt h1{
    font-size: 20px;
   
  }
  .main-txt p{
    font-size: 14px;
  }
  .main-but{
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
  }
  .obr{
    width: 90%;
  }
  .h2in{
    font-size: 15px;
  }
  .inf-tbl{
    flex-direction: column;
  }
 .vst{
   flex-direction: column;
 }
  .vst img{
    width: 200px;
    height: 200px;
  }
  .imgfoot{
    width: 80px;
    height: 80px;
  }
  .by{
    display: none;
  }
  .foot{
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px){
  .logo1{
    font-size: 30px;
  }
  .logotxt{
    font-size: 15px;
  }
  .logo{
    text-align: center;
    width: 100%;
  }
  .header {
   flex-direction: column;
  }
  .main{
    flex-direction: column;
  }
  .md{
    display: none;
  }
  .main-txt{
    padding: 5px;
    text-align: justify;
  }
  .main-txt h1{
    font-size: 20px;
   
  }
  .main-txt p{
    font-size: 14px;
  }
  .main-but{
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
  }
  .obr{
    width: 90%;
  }
  .h2in{
    font-size: 15px;
  }
  .inf-tbl{
    flex-direction: column;
  }
 .vst{
   flex-direction: column;
 }
  .vst img{
    width: 200px;
    height: 200px;
  }
  .imgfoot{
    width: 80px;
    height: 80px;
  }
  .by{
    display: none;
  }
  .foot{
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px){
  .menu{
    margin-top: 25px;
  }
  .menu li a{
    font-size: 14px;
    padding: 10px;
  }
  .logo1{
    font-size: 20px;
  }
  .logotxt{
    font-size: 12px;
  }
  .menu img{
    width: 20px;
    height: 20px;
  }
  .main-txt h1{
    font-size: 24px;
   
  }
  .main-txt p{
    font-size: 16px;
  }
  .md{
    width: 350px;
    height: 350px;
  }
  .main-but{
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
  }
  .inf p{
    font-size: 15px;
  }
  .inf-tbl{
    width: 80%;
  }
  .vst img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }
  .vst p{
    padding-left: 10px;
  }
  .h2in{
    font-size: 20px;
  }
}






/* фильтрация */
.cd-main-content {
    position: relative;
    min-height: 100vh;
  }
  .cd-main-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-main-content.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 76px;
  }
  .cd-main-content.is-fixed .cd-filter {
    position: fixed;
    height: 100vh;
    overflow: hidden;
  }
  .cd-main-content.is-fixed .cd-filter form {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cd-main-content.is-fixed .cd-filter-trigger {
    position: fixed;
  }
  @media only screen and (min-width: 768px) {
    .cd-main-content.is-fixed .cd-gallery {
      padding-top: 90px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-main-content.is-fixed .cd-gallery {
      padding-top: 100px;
    }
  }
  
  .cd-gallery {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50%;
      margin: auto;
  }
  .cd-gallery li {
    margin-bottom: 1.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  .cd-gallery li.gap {
    opacity: 0;
    height: 0;
    display: inline-block;
  }
  .cd-gallery img {
    display: block;
    width: 100%;
  }
  .cd-gallery .cd-fail-message {
    display: none;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .cd-gallery {
      padding: 40px 3%;
    }
    .cd-gallery ul {
      text-align: justify;
    }
    .cd-gallery ul:after {
      content: "";
      display: table;
      clear: both;
    }
    .cd-gallery li {
      width: 48%;
      margin-bottom: 2em;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-gallery {
      padding: 50px 2%;
      float: right;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      transition: width 0.3s;
    }
    .cd-gallery li {
      width: 23%;
    }
    .cd-gallery.filter-is-visible {
      width: 80%;
    }
  }
  
  .cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #FFF3EC;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
    -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .cd-filter::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #DD2040;
    z-index: 2;
  }
  .cd-filter form {
    padding: 70px 20px;
  }
  .cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    background: #DD2040;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 3;
  }
  .no-touch .cd-filter .cd-close:hover {
    background: #DD2040;
  }
  .cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .cd-filter.filter-is-visible .cd-close {
    opacity: 1;
  }
  @media only screen and (min-width: 1170px) {
    .cd-filter {
      width: 20%;
    }
    .cd-filter form {
      padding: 70px 10%;
    }
  }
  
  .cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: transparent url("../img/cd-icon-filter.svg") no-repeat center center;
    z-index: 3;
  }
  .cd-filter-trigger.filter-is-visible {
    pointer-events: none;
  }
  @media only screen and (min-width: 1170px) {
    .cd-filter-trigger {
      width: auto;
      left: 2%;
      text-indent: 0;
      color: #9a9a9a;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      padding-left: 24px;
      background-position: left center;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }
    .no-touch .cd-filter-trigger:hover {
      color: #41307c;
    }
    .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
      color: #ffffff;
    }
  }
  
  .cd-filter-block {
    margin-bottom: 1.6em;
  }
  .cd-filter-block h4 {
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .no-touch .cd-filter-block h4:hover {
    color: #41307c;
  }
  .cd-filter-block h4::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-filter-block h4.closed::before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }
  .cd-filter-block input, .cd-filter-block select,
  .cd-filter-block .radio-label::before,
  .cd-filter-block .checkbox-label::before {
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
  }
  
  .cd-filter-block select {
    width: 100%;
    padding: .8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
  }
  .cd-filter-block select:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #41307c;
  }
  
  .cd-filter-block .cd-select {
    position: relative;
  }
  .cd-filter-block .cd-select::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
  }
  .cd-filter-block select {
    cursor: pointer;
    font-size: 1.4rem;
  }
  .cd-filter-block select::-ms-expand {
    display: none;
  }
  .cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em;
  }
  .cd-filter-block .list li:last-of-type {
    margin-bottom: 0;
  }
  .cd-filter-block input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
  }
  .cd-filter-block .checkbox-label {
    padding-left: 24px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-filter-block .checkbox-label::before{
    width: 16px;
    height: 16px;
    left: 0;
  }
  .cd-filter-block .checkbox-label::after{
    display: none;
  }
  .cd-filter-block .checkbox-label::after {
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-check.svg") no-repeat center center;
  }
  .cd-filter-block input[type=checkbox]:checked + label::before {
    border-color: #41307c;
    background-color: #41307c;
  }
  .cd-filter-block input[type=checkbox]:checked + label::after {
    display: block;
  }
  @-moz-document url-prefix() {
    .cd-filter-block .cd-select::after {
      display: none;
    }
  }

  .cookie_notice {
    display: none;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, sans-serif;  
    color: #FFF;
    background: #D9072B;
    padding: 10px 20px; 
}
/* Оформление кнопок */
.cookie_btn {
    display: inline-block;
    margin: 10px 6px 4px 6px;
    text-decoration: none;
    position: relative;
    font-size: 13px;
    padding: 4px 12px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    background: #D9072B;
    border: 2px solid #BFE2FF;
}
.cookie_btn:hover {
    color: #FFF;
}
.cookie_btn:after,
.cookie_btn:before {
    position: absolute;
    height: 2px;
    left: 50%;
    background: #FFF;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.cookie_btn:before {
    top: -6px;
}
.cookie_btn:hover:after,
.cookie_btn:hover:before {
    width: 100%;
    left: 0;
}