<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Balsamiq Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/modernizr.js"></script>
    <link rel="shortcut icon" href="../img/logo.png" type="image/png">
    <title>Каталог</title>
</head>
<body>
	<header >
        <div class="logo">
            <a href="#" class="logo1">Маги <span class="logo2">Ап</span></a>
            <p class="logotxt">Мы в ответе за тех, кого приручили</p>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="index.html">Главная</a></li>
          <li><a href="catalog.html">Купить щенка</a></li>
          <li><a href="breed.html">О породах</a></li>
          <li><a href="news.html">Новости</a></li>
          <li><a href="contacts.html">Контакты</a></li>
          <li><a href=""><img src="../img/heart.svg"></a></li>
          <li><a href="#"><img src="../img/user.png"></a></li>                         
        </ul>
      </header>
	  <main>
	<div class="main">
		<div class="main-cat">
		<h1>Всё что тебе нужно
			это любовь и собака</h1>
		<p>Выбери лучшего друга прямо
			сейчас в нашем каталоге</p>
		</div>
		<img src="../img/catal dog.png" class="catd"  height="600px" width="600px">  
	</div>
	<div class="cd-main-content">
		<section class="cd-gallery">
			<ul>
				<li class="mix color-1 check1 "><a href="view.html"><img src="../img/primer.jpg" alt="Image 1"></a></li>
				<li class="mix color-2 check2 "><a><img src="../img/primer.jpg" alt="Image 2"></a></li>
				<li class="mix color-1 check3 "><a><img src="../img/primer.jpg" alt="Image 3"></a></li>
				<li class="mix color-1 check3 "><a><img src="../img/primer.jpg" alt="Image 4"></a></li>
				<li class="mix color-1 check1 "><img src="../img/primer.jpg" alt="Image 5"></li>
				<li class="mix color-2 check2 "><img src="../img/primer.jpg" alt="Image 6"></li>
				<li class="mix color-2 check2 "><img src="../img/primer.jpg" alt="Image 7"></li>
				<li class="mix color-1 check1 "><img src="../img/primer.jpg" alt="Image 8"></li>
				<li class="mix color-2 check1 "><img src="../img/primer.jpg" alt="Image 9"></li>
				<li class="mix color-1 check3 "><img src="../img/primer.jpg" alt="Image 10"></li>
				<li class="mix color-1 check3 2"><img src="../img/primer.jpg" alt="Image 11"></li>
				<li class="mix color-2 check1 "><img src="../img/primer.jpg" alt="Image 12"></li>
				<li class="gap"></li>
				<li class="gap"></li>
				<li class="gap"></li>
			</ul>
			<div class="cd-fail-message">Результаты не найдены</div>
		</section>

		<div class="cd-filter">
			<form>
				

				<div class="cd-filter-block">
					<h4>Порода</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">Пудель</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">ПТИ-брабансон</label>
						</li>
					</ul> 
				</div> 

				<div class="cd-filter-block">
					<h4>Возраст</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check4" type="checkbox" id="checkbox4">
			    			<label class="checkbox-label" for="checkbox4">1-5 месяцев</label>
						</li>

						<li>
							<input class="filter" data-filter=".check5" type="checkbox" id="checkbox5">
							<label class="checkbox-label" for="checkbox5">5-12 месяцев</label>
						</li>

						<li>
							<input class="filter" data-filter=".check6" type="checkbox" id="checkbox6">
							<label class="checkbox-label" for="checkbox6">старше 1 года</label>
						</li>
					</ul>
				</div> 

				<div class="cd-filter-block">
					<h4>Пол</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check7" type="checkbox" id="checkbox7">
			    			<label class="checkbox-label" for="checkbox7">Мужской</label>
						</li>

						<li>
							<input class="filter" data-filter=".check8" type="checkbox" id="checkbox8">
							<label class="checkbox-label" for="checkbox8">Женский</label>
						</li>

					</ul>
				</div> 
			</form>

			<a href="#0" class="cd-close">	&#215;</a>
		</div> 

		<a href="#0" class="cd-filter-trigger">Фильтры</a>
		</div>
	</main> 
	<footer>
        <div class="foot">
            <img src="../img/logoooo.jpg" width="100px" height="100px">
			<p>By Osipenko Viktoria</p>
            <p> Телефон для связи: 8-928-104-76-48</p>
        </div>
    </footer> 
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/jquery.mixitup.min.js"></script>
<script src="../js/mainbuy.js"></script>
</body>
</html>