<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Balsamiq Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Контакты</title>
</head>
<body>
    <header >
        <div class="logo">
            <a href="#" class="logo1">Маги <span class="logo2">Ап</span></a>
            <p class="logotxt">Мы в ответе за тех, кого приручили</p>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="index.html">Главная</a></li>
          <li><a href="catalog.html">Купить щенка</a></li>
          <li><a href="breed.html">О породах</a></li>
          <li><a href="news.html">Новости</a></li>
          <li><a href="contacts.html">Контакты</a></li>
          <li><a href=""><img src="../img/heart.svg"></a></li>
          <li><a href="#"><img src="../img/user.png"></a></li>             
                       
                       
        </ul>
      </header>

    <h1 class="conth1">Наши контакты:</h1>
    <div class="contact">
    <a href=""><img src="../img/inst.svg" width="250px" height="250px"></a>
    <a href="" class="whats"><img src="../img/whats.svg" width="260px" height="260px"></a>
    <a href=""><img src="../img/vk.png" width="250px" height="250px"></a>
    </div>
    <h1 class="conth1">Вы можете позвонить нам или заказать обратный звонок:</h1>
    <p class="call">Телефон для связи: <span>8-928-104-76-48</span></p>
    <h1 class="conth1">А также написать нам электронное письмо:</h1>
    <p class="em">E-mail:   <a href="">nell.1977@yandex.ru</a></p>
<footer>
        <div class="foot">
            <img src="../img/logoooo.jpg" width="100px" height="100px">
            <p>By Osipenko Viktoria</p>
            <p> Телефон для связи: 8-928-104-76-48</p>
        </div>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/main.js"></script>  
</body>
</html>