<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/png">
    <title>О породах</title>
</head>
<body>
    <header>
        <div class="logo">
            <p class="logo1">Magy<span class="logo2">Up</span></p>
            <p class="logotxt">Мы в ответе за тех, кого приручили</p>
        </div>
        <nav>
            <div class="topnav" id="TopNav">
                <a href="index.html">Главная</a>
                <a href="buy.html">Купить щенка</a>
                <a href="breed.html">О породах</a>
                <a href="news.html">Новости</a>
                <a href="contacts.html">Контакты</a>
                <a id="menu" href="#" class="icon">&#9776;</a>
            </div>
            <p class="phone">Тел. 8-928-104-76-48</p>
        </nav>
</header>
<main>
<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="../img/primer.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="../img/primer.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="../img/primer.jpg" style="width:100%">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <div class="dots" style="text-align:left">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>
<div class="names">
<h2>Дина, 3.5 месяца
<img src="../img/female.png" width="20px" height="20px"></h2>
<p>Недавно на свет появилась эта замечательная девочка, сейчас она ищет
    хозяина который будет любить её. Уже знает что нельзя портить мебель, 
    дружелюбна к другим животным. Позвоните нам уже сейчас чтобы 
    подарить ей дом!</p>
<p class="tel">Телефон для связи: 8-928-104-76-48</p>
</div>
</main>
<footer>
    <div class="foot">
        <div class="logo3">
            <img src="../img/logo.jpg" width="80vh" height="80vh">
           <div class="logotxt2">
            <h4>Magy Up</h4>
            <p>Мы в ответе за тех, кого приручили</p>
            </div>
        </div>
        <p>Все права защищены</p>
        <nav>
            <div class="botnav">
                <a href="index.html">Главная</a>
                <a href="buy.html">Купить щенка</a>
                <a href="breed.html">О породах</a>
                <a href="contacts.html">Контакты</a>
            </div>
        </nav>
    </div>
</footer> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/main.js"></script>  
</body>
</html>